@charset "UTF-8";

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.circle {
  background-color: blue;

  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateX(100px) scale(1.5) rotate(45deg); 
}

.box {
  
    outline: 5px solid red;
}

