@charset "UTF-8";
@keyframes gradient {
  from {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

body {
  font-size: 150%;
  font-family: sans-serif;

  color: white;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 300% 300%;

  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: gradient 10s ease infinite alternate;
}
